@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-under-deco::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  background: #222727;
  width: 100%;
  left: 0;
  opacity: .1;
}

.form-control {
  background: rgba(236, 236, 236, .7);
  border-radius: 5px;
}

.form-control::placeholder {
  font-size: 16px;
  line-height: 33px;
  font-weight: 400;
  color: #723C3F;
  opacity: .7;
  font-weight: 400;
}

@media (max-width: 768px) {
  .form-control::placeholder {
    font-size: 14px;
  }
}

.full-screen-overlay {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: calc(100vh - 55px);
  z-index: -1;
  background: #222727;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-overlay.deactivate {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.full-screen-overlay.active {
  opacity: .85;
  z-index: 40;
  transition: opacity .5s ease-in-out;
}

@media (max-width: 768px) {
  .form-control::placeholder {
    font-size: 14px;
  }
}

.link-hover .over-img{
  transition: all 1s ease-in-out;
  left: 0;
}

.link-hover:hover .over-img {
  left: 10px;
}

.off-canvas {
  position: fixed;
  top: 70px;
  height: calc(100vh - 70px);
  left: 0;
  width: 100%;
  z-index: 100;
  transform: translateY(100%);
}

.off-canvas.active {
  transition: all 1s ease-in-out;
  transform: translateY(0%);
}

.off-canvas.leave {
  transform: translateY(-100%);
  transition: all 1s ease-in-out;
  top: 0;
}

.select-tab{
  transition: height 1s ease-in-out;
}

.select-tab.active{
  height: 90px;
}

.select-tab.active > div{
  height: 60px;
}

.select-tab.active > div > img{
  opacity: 1;
}

.mobile-menu-ani {
  transform: translateY(200%);
  transition: transform 1s ease-in-out;
  transition-delay: .9s;
}

.mobile-menu-ani.active {
  transform: translateY(0%);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.page-ani {
  animation: fadeIn 1s ease-in-out forwards;
}

html, body {
  height: 100%;
}

#__next {
  height: 100%;
}

/* 定义动画 */
@keyframes scaleUp {
  from {
    transform: scale(1); /* 开始状态 */
  }
  to {
    transform: scale(1.08); /* 结束状态 */
  }
}

/* 定义动画的类 */
.scale-animation {
  animation: scaleUp 10s forwards; /* 指定动画，持续时间和填充模式 */
}

.mobile-submenu {
  max-height: 0px;
}

.mobile-submenu.active {
  max-height: 500px;
}

@keyframes scaleDown {
  from {
    transform: scale(1.07); /* 开始状态 */
  }
  to {
    transform: scale(1); /* 结束状态 */
  }
}

/* 当 banner 不活跃时应用缩小动画 */
.scale-down-animation {
  animation: scaleDown 10s forwards;
}

/* 使用过渡代替动画 */
.image-transition {
  transition: transform 10s;
}

.image-transition.scale-up {
  transform: scale(1.08);
}

.errormessage {
  display: none;
  /* position: absolute; */
  top: calc(100%);
  left: 0;
}

.errormessage.active {
  display: block;
}

.privacy-content h1 {
  font-size: 36px;
  line-height: 42px;
  font-family: 'Crimson Pro', serif;
  color: #723C3F;
}

.privacy-content h4 {
  font-size: 24px;
  line-height: 1.5;
  color: #723C3F;
  font-family: 'Crimson Pro', serif;
}

.privacy-content h5 {
  text-decoration: underline;
  color: #723C3F;
}

.privacy-content p {
  color: #723C3F;
}